# Ignore build artifacts
nyxt
.flatpak-builder/
nyxt-flatpak-repository/
*.flatpak
build/
node_modules/
package.json
package-lock.json

# Ignore compiled lisp files
*.FASL
*.fasl
*.fas
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl

# Ignore PNG and XCF
*.xcf
*.png

# Generated documentation
manual.html

# Ignore flake lockfile
flake.lock

# Ignore etags/ctags
TAGS

# Ignore C object files and libraries
*.o
*.so
