[submodule "quicklisp/local-projects/cl-webkit"]
	path = quicklisp-libraries/cl-webkit
	url = https://github.com/joachifm/cl-webkit
[submodule "quicklisp/local-projects/cluffer"]
	path = quicklisp-libraries/cluffer
	url = https://github.com/robert-strandh/Cluffer.git
[submodule "quicklisp-client"]
	path = quicklisp-client
	url = https://github.com/quicklisp/quicklisp-client
[submodule "quicklisp-libraries/cl-cffi-gtk"]
	path = quicklisp-libraries/cl-cffi-gtk
	url = https://github.com/Ferada/cl-cffi-gtk/
[submodule "quicklisp-libraries/quri"]
	path = quicklisp-libraries/quri
	url = https://github.com/fukamachi/quri
