Source: next
Section: Web Software
Priority: extra
Maintainer: Next developers <hello@atlas.engineer>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.3.2
Homepage: http://next.atlas.engineer/

Package: next
Architecture: any
Depends: sbcl (>= 1.4.2),
	 libwebkit2gtk-4.0-dev (>= 2.24),
         default-dbus-session-bus | dbus-session-bus,
         glib-networking,
         sqlite,
         gsettings-desktop-schemas,
         libfixposix-dev,
         libgstreamer1.0-0,
         gir1.2-gst-plugins-base-1.0,
         xclip,
         ${misc:Depends}
Suggests: notify-osd
Description:the infinitely extensible web browser.
  Next is the programmable web browser. All the browser logic is accessible
  and modifiable live with the Lisp language.
  .
  This package provides the Webkit webview. See the downloads page
  for a Webengine/Blink platform port.