#!/usr/bin/make -f
DH_VERBOSE = 1

%:
	dh $@

build:
	dh_testdir
	dh_testroot
	dh_prep
	make all

override_dh_auto_build:
	all

# XXX: avoid "desktop is not a directory" error.
override_dh_usrlocal:
	echo

# XXX: clean binaries.
# clean:
	# dh_testdir
	# dh_testroot
	# make clean DESTDIR=$(DESTDIR)
	# dh_clean
