#!/usr/bin/make -f
DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	$(MAKE)	all

# XXX: avoid "desktop is not a directory" error.
override_dh_usrlocal:
	echo

override_dh_strip:
	echo "don't strip! It breaks the CL image."

# XXX: clean binaries.
# clean:
	# dh_testdir
	# dh_testroot
	# make clean DESTDIR=$(DESTDIR)
	# dh_clean
