name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize, closed ]

jobs:
  test:
    name: ${{matrix.lisp}} on ${{matrix.os}}
    strategy:
      matrix:
        lisp: [sbcl-bin]
        lisp-flags: [dynamic-space-size=3072]
        renderer: [gi-gtk]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v4
      with:
        show-progress: 'false'
        submodules: 'true'

    - name: Register submodules in ASDF
      run: |
        mkdir -p ~/.config/common-lisp/source-registry.conf.d/
        echo "(:tree \"$PWD\")" > ~/.config/common-lisp/source-registry.conf.d/asdf.conf
        echo "(:tree \"$PWD/_build\")" >> ~/.config/common-lisp/source-registry.conf.d/asdf.conf

    - name: Install Roswell
      env:
       LISP: ${{matrix.lisp}}
      run: curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh -x

    - name: Install dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y libfixposix-dev libwebkit2gtk-4.1-0 glib-networking gsettings-desktop-schemas

    - name: Load renderer Nyxt system
      run: |
        ros ${{matrix.lisp-flags}} -e '(handler-case (asdf:load-system :nyxt/${{matrix.renderer}}-application) (error (c) (format t "Error: ~s~%~a~%" c c) (uiop:quit 1)))'

    - name: Run tests
      run: |
        ros ${{matrix.lisp-flags}} -e '(handler-case (asdf:load-system :nyxt/tests) (error (c) (format t "Error: ~s~%~a~%" c c) (uiop:quit 1)))' \
            -e '(let ((output (lisp-unit2:run-tests :package :nyxt/tests))) (lisp-unit2:print-summary output) (when (or (lisp-unit2:failed output) (lisp-unit2:errors output)) (uiop:quit 1)))'
