name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize, closed ]

jobs:
  test:
    name: ${{matrix.renderer}} on ${{matrix.os}}
    strategy:
      matrix:
        renderer: [gi-gtk,electron]
        os: [ubuntu-latest,macos-latest]
        exclude:
          - os: macos-latest
            renderer: gi-gtk
    runs-on: ${{matrix.os}}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        show-progress: 'false'
        submodules: 'true'

    - name: Install nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Compile ${{matrix.renderer}} port on ${{matrix.os}}
      run: nix-shell shell.nix --run 'make all NYXT_RENDERER=${{matrix.renderer}}'

    - name: Test ${{matrix.renderer}} port on ${{matrix.os}}
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      # It runs the tests for system nyxt, not nyxt/${{matrix.renderer}}.
      run: nix-shell shell.nix --run 'make check'

    - name: Test history-tree
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :history-tree)'"

    - name: Test nhooks
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :nhooks)'"

    - name: Test nfiles
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :nfiles)'"

    - name: Test nclasses
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :nclasses)'"

    - name: Test prompter
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :prompter)'"

    - name: Test nkeymaps
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :nkeymaps)'"

    - name: Test njson
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:load-system :njson/cl-json)' --eval '(asdf:test-system :njson)'"

    - name: Test nsymbols
      env:
        NASDF_NON_INTERACTIVE_TESTS: true
      run: nix-shell shell.nix --run "sbcl --eval '(require \"asdf\")' --eval '(asdf:test-system :nsymbols)'"
